@import url(//fonts.googleapis.com/css?family=Bitter);
/*------ template stylization ------*/
body {
  background: #ffffff;
  font: 14px Arial, Helvetica, sans-serif;
  line-height: 24px;
  color: #775a56;
  min-width: 1200px;
}
.nav-collapse.collapse {
  text-transform: none;
}
#webSiteLoader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #ffffff url('../img/web_site_loader.gif') center no-repeat;
  z-index: 1023;
  top: 0;
}
#pageLoader {
  position: fixed;
  width: 72px;
  height: 72px;
  top: 50%;
  left: 50%;
  margin: -36px 0 0 -36px;
  background: url('../img/bg_loader.png') 0 0 no-repeat;
  z-index: 1000;
  padding: 3px;
  display: none;
}
#pageLoader > div {
  margin: 9px 10px;
  background: url('../img/web_page_loader.gif') 0 0 no-repeat;
  width: 46px;
  height: 46px;
}
#back-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  background: url("../img/up-arrow.png") center 12px no-repeat;
  z-index: 1000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: none;
  cursor: pointer;
}
.animate,
.animate:hover {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
h1 {
  position: absolute;
  margin: 146px 0 0 441px;
  z-index: 20;
}
h2 {
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  line-height: 32px;
  margin-top: 2px;
}
h3 {
  color: #ffffff;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  line-height: 24px;
  margin-bottom: 0;
}
.extra-wrap {
  overflow: hidden;
}
/*------ header ------- */
header {
  position: absolute;
  width: 100%;
  z-index: 5;
  margin: 0 auto;
  top: 0;
  z-index: 800;
}
#logo {
  display: inline-block;
  position: relative;
  background: url('../img/logo2.png') 0 0 no-repeat;
  width: 290px;
  height: 196px;
  text-indent: -9999px;
  margin: 0;
}
#logo:hover {
  text-decoration: none;
}
/*--- menu ------*/
.menuMov {
  position: relative;
  width: 100%;
  height: 103px;
  margin: 0 auto;
  background: url('../img/bg_menu2.jpg') 0 0 repeat-x;
  margin-top: 193px;
  z-index: 10;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.menuMov .size_1 {
  width: 211px;
}
.menuMov .size_2 {
  width: 229px;
}
.menu {
  position: relative;
  z-index: 1;
  display: inline-block;
  text-transform: uppercase;
}
.sf-menu {
  z-index: 3;
  position: relative;
  display: inline-block;
  margin-left: 0;
}
.sf-menu > li:first-child + li {
  margin-right: 290px;
}
.sf-menu > li {
  position: relative;
  color: #ffffff;
  display: inline-block;
  float: left;
  height: 101px;
  text-align: center;
}
.sf-menu > li:after {
  position: absolute;
  display: block;
  width: 2px;
  height: 101px;
  background: url('../img/sep_menu.png') no-repeat 0 0;
  top: 0;
  right: -2px;
  pointer-events: none;
  content: "";
}
.sf-menu > li.last:after {
  display: none;
}
.sf-menu > li > a {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 101px;
  overflow: hidden;
}
.sf-menu > li > a:hover {
  text-decoration: none;
}
.sf-menu > li.active > a {
  text-decoration: none;
}
.submenu_1 {
  position: absolute;
  top: 103px;
  left: 39px;
  width: 148px;
  padding: 20px 0;
  z-index: 5;
  background: #5e2f28;
  margin: 0;
}
.submenu_1 li {
  position: relative;
  list-style: none;
  text-align: center;
  margin-bottom: 7px;
}
.submenu_1 a {
  font: 15px/17px 'Bitter', serif;
  color: #ffffff;
  position: relative;
  display: inline-block;
  padding: 1px 0 1px  !important;
  text-decoration: none;
  z-index: 1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.submenu_1 a:hover {
  color: #ff7f66 !important;
}
.submenu_1 li > a:hover,
.submenu_1 li .hoverItem {
  color: #ff7f66 !important;
}
.submenu_2 {
  position: absolute;
  width: 138px;
  left: 150px;
  top: -7px;
  z-index: 10;
  margin: 0;
  padding: 7px 0 7px;
  background: #3b1e19;
}
.submenu_2 .marTop {
  margin: 10px 0 0;
}
.submenu_2 .marBot {
  margin: 0 0 0px;
}
.submenu_2 a {
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.submenu_2 a:hover {
  color: #ff7f66 !important;
}
.submenu_2 li > a:hover,
.submenu_2 li .hoverItem {
  color: #ff7f66 !important;
}
.mText {
  font: 20px/20px 'Bitter', serif;
  color: #ffffff;
  position: absolute;
  width: 100%;
  z-index: 1;
  text-align: center;
  left: 0;
  padding-top: 40px;
}
.mTextOver {
  font: 20px/20px 'Bitter', serif;
  color: #ff9a7c;
  position: relative;
  width: 100%;
  z-index: 3;
  text-align: center;
  top: -100px;
}
._area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 5;
  left: 0;
  display: block;
}
._overPl {
  position: absolute;
  width: 100%;
  height: 84px;
  bottom: 100px;
  z-index: 2;
  left: 0;
  display: block;
  background: none;
}
._overLine {
  position: absolute;
  width: 100%;
  height: 4px;
  top: 0;
  z-index: 10;
  left: 0;
  display: none;
  background: #ff9a7c;
  opacity: 0;
}
/*--- menu end ------*/
/*--- header end ------*/
/*------ content ------- */
.splashHolder {
  position: absolute;
  width: 1170px;
  left: 50%;
  top: -725px;
  margin-left: -585px;
}
.splashHolder .container {
  text-align: center;
}
.splashHolder .logo_spl {
  position: relative;
  width: 100%;
  height: 355px;
  background: url('../img/logo1.png') 50% 0 no-repeat;
  z-index: 5;
}
.splashHolder .menu_spl {
  font: 20px/20px 'Bitter', serif;
  color: #ffffff;
  position: relative;
  display: inline-block;
  width: 274px;
  background: #5e3028 url('../img/bg_menu1.png') 0 bottom no-repeat;
  -webkit-box-shadow: 1px 2px 0 rgba(19, 12, 22, 0.4);
  -moz-box-shadow: 1px 2px 0 rgba(19, 12, 22, 0.4);
  box-shadow: 1px 2px 0 rgba(19, 12, 22, 0.4);
  -webkit-border-radius: 0 0 12px 12px;
  -moz-border-radius: 0 0 12px 12px;
  border-radius: 0 0 12px 12px;
  text-transform: uppercase;
  margin-top: -2px;
}
.splashHolder .menu_spl ul {
  margin: 0;
  padding: 25px 0 26px;
}
.splashHolder .menu_spl ul li {
  position: relative;
  list-style: none;
}
.splashHolder .menu_spl ul li:after {
  position: absolute;
  display: block;
  width: 47px;
  height: 4px;
  background: url('../img/sep_menu_spl.png') no-repeat 0 0;
  bottom: 0;
  right: 109px;
  pointer-events: none;
  content: "";
}
.splashHolder .menu_spl ul li.last:after {
  display: none;
}
.splashHolder .menu_spl ul li a {
  color: #ffffff;
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 13px 0;
  width: 100%;
  z-index: 1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.splashHolder .menu_spl ul li a:hover {
  color: #ff9a7c;
  text-decoration: none;
}
#wrapper .containerHolder {
  position: relative;
  width: 100%;
  z-index: 795;
  top: 0;
}
#wrapper section > div {
  position: relative;
}
#wrapper section {
  position: relative;
  width: 100%;
  height: 100%;
}
#wrapper > section > div {
  position: relative;
}
.container {
  position: relative;
  z-index: 1;
}
.dynamicContent {
  position: absolute;
  width: 100%;
  top: 378px;
}
.inner {
  padding: 0;
}
.cont_bg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.block_1 {
  position: relative;
  display: block;
  background: #2f2524 url('../img/block_bg.jpg') 0 bottom repeat-x;
}
.block_1 img {
  margin-bottom: 19px;
}
.block_1 .block_info_1 {
  position: relative;
  display: inline-block;
  padding: 0 30px;
  text-align: center;
}
.block_1 .block_info_1 .sep_hor {
  margin-bottom: 8px;
}
.block_1 .block_info_1 p {
  margin-bottom: 5px;
}
.sep_hor {
  position: relative;
  display: block;
  width: 100%;
  height: 6px;
  background: url('../img/sep_cont.png') 50% 0 no-repeat;
}
.btn {
  font: 15px/16px 'Bitter', serif;
  letter-spacing: 0;
  color: #ffffff;
  text-shadow: none;
  position: relative;
  display: inline-block;
  padding: 0;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 0;
  -moz-box-shadow: inset 0 0 0;
  box-shadow: inset 0 0 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
}
.btn:hover,
.btn:active {
  color: #ff7f66;
  text-decoration: none;
}
.btn1 {
  position: relative;
  padding: 0;
  margin-left: 317px;
  display: block!important;
  width: 53px;
  height: 55px;
  overflow: hidden;
}
.btn1 span {
  position: absolute;
  display: block;
  top: 0;
  width: 53px;
  height: 55px;
  background: url('../img/bg_more.png') 0 bottom no-repeat;
}
.block_2 {
  position: relative;
  display: block;
  padding: 30px 40px;
  background: #2f2524 url('../img/block_bg.jpg') 0 bottom repeat-x;
}
/*----------------------------scroll----------------------------*/
.scroll {
  height: 252px!important;
  overflow: hidden!important;
  top: 9px;
  left: 0;
  display: inline-block;
}
.scroll-btns {
  position: relative;
  float: right;
  top: -325px;
  z-index: 200;
  display: block;
}
.btndown,
.btnup {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  float: left;
  margin-left: 7px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.btndown > span,
.btnup > span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btndown > span {
  background: url('../img/up_button.png') 0 top no-repeat;
  width: 30px;
  height: 30px;
  overflow: hidden;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.btndown:hover > span {
  background: url('../img/up_button.png') 0 bottom no-repeat;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.btnup > span {
  background: url('../img/down_button.png') 0 top no-repeat;
  width: 30px;
  height: 30px;
  overflow: hidden;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.btnup:hover > span {
  background: url('../img/down_button.png') 0 bottom no-repeat;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
/*----------------------------endscroll----------------------------*/
.list1 {
  margin: 0;
  list-style: none;
}
.list1 h4 {
  position: relative;
  display: block;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 5px;
  font-style: normal;
  margin-top: -1px;
}
.list1 h3 {
  margin-bottom: 0;
  letter-spacing: -1px;
}
.list1 h3 a {
  color: #ff7f66;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.list1 h3 a:hover {
  color: #ffffff;
  text-decoration: none;
}
.list1 .last {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  border-bottom: none!important;
}
.list1 > li {
  overflow: hidden;
  margin-bottom: 1px;
  padding-bottom: 5px;
  border-bottom: 1px solid #312423;
}
.list1 > li > .badge > strong {
  display: block;
  margin-bottom: 0px;
}
.list1 > li.last {
  margin-bottom: 0;
}
.list1 > li > .badge {
  padding: 12px 18px 6px;
  margin: 17px 26px 2px 0;
  float: left;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  color: #f3f3f3;
  text-align: center;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #c55835 url('../img/bg_date.jpg') center top;
}
.list1 > li > .badge > strong {
  margin: 3px 0 26px 0;
  font: 700 35px/26px 'Bitter', serif;
  text-shadow: 1px 2px 1px rgba(255, 53, 41, 0.25);
  color: #f5f5f5;
}
.list1 > li > .badge > span {
  text-transform: uppercase;
  font: 700 15px/22px 'Bitter', serif;
  text-shadow: 1px 2px 1px rgba(255, 53, 41, 0.4);
  color: #f7f7f7;
}
.title {
  color: #ffffff;
}
.block_3 {
  position: relative;
  display: block;
  padding: 30px 0 0 40px;
  background: #2f2524 url('../img/block_bg.jpg') 0 bottom repeat-x;
}
.block_3 .btn1 {
  margin: -52px 0 0 677px;
}
.list2 {
  position: relative;
  display: inline-block;
  margin: 23px 0 0;
}
.list2 li {
  list-style: none;
  width: 330px;
  float: left;
  margin: 0 46px 20px 0;
}
.list2 li img {
  position: relative;
  display: inline-block;
  float: left;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 3px 19px 0 0;
}
.list2 li p {
  overflow: hidden;
}
.list2 .right {
  margin-right: 0!important;
}
.link_1 {
  color: #ffffff;
  text-decoration: underline;
}
.link_1:hover {
  color: #ff7f66;
  text-decoration: underline;
}
.block_4 {
  position: relative;
  display: block;
  padding: 30px 25px 59px 40px;
  background: #2f2524 url('../img/block_bg.jpg') 0 bottom repeat-x;
}
.block_4 p {
  position: relative;
  margin-top: 35px;
}
.list3 {
  position: relative;
  display: inline-block;
  margin: -4px 0 0;
}
.list3 li {
  width: 100%;
  position: relative;
  display: inline-block;
  float: left;
  background: url('../img/marker.png') 0 9px no-repeat;
  padding: 0 0 0 15px;
  min-height: 18px;
  margin: 0;
}
.list3 a {
  color: #ffffff;
  text-decoration: none;
}
.block_5 {
  position: relative;
  display: block;
  padding: 30px 25px 26px 40px;
  background: #2f2524 url('../img/block_bg.jpg') 0 bottom repeat-x;
}
.block_5 p {
  position: relative;
  margin-top: 35px;
}
.block_5 .list3 {
  margin-top: 5px;
}
.block_6 {
  position: relative;
  display: block;
  padding: 30px 40px;
  background: #2f2524 url('../img/block_bg.jpg') 0 bottom repeat-x;
}
.scroll_2 {
  position: relative;
  height: 225px!important;
  width: 100%;
  overflow: hidden!important;
  margin-top: 27px;
  display: inline-block;
}
.list4 {
  position: relative;
  margin: 0;
  color: #ffffff;
}
.list4 li {
  list-style: none;
  line-height: 21px;
  margin-bottom: 9px;
}
.list4 .left {
  position: relative;
  display: inline-block;
  float: left;
  width: 320px;
  margin-right: 45px;
}
.list4 .left .bg {
  background: url('../img/tour_bg.png') 0 0 repeat;
}
.list4 .left ul {
  margin: 0;
}
.list4 .left ul li .badge_num {
  position: relative;
  display: inline-block;
  width: 25px;
  text-align: center;
  margin-right: 6px;
}
.list4 .left ul li .points {
  padding-right: 14px;
}
.list4 .left ul .bg .badge_num {
  border-right: 1px solid #241a19;
}
.list4 .right {
  position: relative;
  display: inline-block;
  width: 320px;
}
.list4 .right .bg {
  background: url('../img/tour_bg.png') 0 0 repeat;
}
.list4 .right ul {
  margin: 0;
}
.list4 .right ul li .badge_num {
  position: relative;
  display: inline-block;
  width: 25px;
  text-align: center;
  margin-right: 6px;
}
.list4 .right ul li .points {
  padding-right: 14px;
}
.list4 .right ul .bg .badge_num {
  border-right: 1px solid #241a19;
}
.list4 .right ul .last {
  margin-bottom: 15px!important;
}
.g_map {
  position: relative;
  display: inline-block;
  float: left;
  width: 446px;
  height: 226px;
  margin: 26px 21px 0 0;
}
iframe {
  position: relative;
  border: none;
  display: inline-block;
  outline: none;
  width: 446px;
  height: 226px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: url('../img/web_site_loader.gif') center no-repeat #ffffff !important;
}
.width1 {
  display: inline-block;
  width: 85px;
}
.block_info_2 {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-top: 23px;
}
.block_7 {
  position: relative;
  display: block;
  padding: 30px 0 0 40px;
  overflow: hidden;
  background: #2f2524 url('../img/block_bg.jpg') 0 bottom repeat-x;
}
.block_7 .btn1 {
  margin: -18px 0 0 677px;
}
.block_8 {
  position: relative;
  display: block;
  padding: 30px 25px 35px 40px;
  background: #2f2524 url('../img/block_bg.jpg') 0 bottom repeat-x;
}
.block_9 {
  position: relative;
  display: block;
  padding: 30px 40px 14px;
  background: #2f2524 url('../img/block_bg.jpg') 0 bottom repeat-x;
}
.block_9 p {
  margin-top: 35px;
}
.block_10 {
  position: relative;
  display: block;
  padding: 30px 40px 49px;
  overflow: hidden;
  background: #2f2524 url('../img/block_bg.jpg') 0 bottom repeat-x;
}
.block_10 img {
  position: relative;
  display: inline-block;
  float: left;
  margin: 45px 120px 0 53px;
}
.block_10 p {
  margin-top: 35px;
}
.block_11 {
  position: relative;
  display: block;
  padding: 30px 40px;
  overflow: hidden;
  background: #2f2524 url('../img/block_bg.jpg') 0 bottom repeat-x;
  min-height: 341px;
}
/* ============================= forms ============================= */
#form1 {
  position: relative;
  margin: 38px 0 0;
  width: 100%;
}
label {
  margin: 0!important;
}
#form1 input {
  font: 14px/18px Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-transform: none;
  margin: 0 0 8px;
  padding: 3px 11px 1px;
  width: 268px;
  border: 1px solid #393030;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  min-height: 20px;
  background: #393030;
}
#form1 textarea {
  resize: none;
  margin: 0;
  font: 14px/18px Arial, Helvetica, sans-serif;
  color: #ffffff;
  padding: 3px 11px;
  width: 268px;
  height: 105px;
  border: 1px solid #393030;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  min-height: 20px;
  background: #393030;
}
#form1 label {
  position: relative;
  display: inline-block;
  min-height: 36px;
}
#form1 .error,
#form1 .empty {
  position: absolute;
  bottom: -1px;
  display: none;
  font-size: 9px;
  line-height: 9px;
  color: #cc666d;
  text-transform: none;
}
.btns {
  position: relative;
  display: block;
  margin: 23px 0 0;
  float: right;
  text-transform: uppercase;
}
.btns a {
  margin: 0 13px 0 5px;
  float: right;
}
#form1 .message .error,
#form1 .message .empty {
  position: absolute;
  bottom: -15px;
  display: none;
  font-size: 9px;
  line-height: 16px;
  color: #cc666d;
  text-transform: none;
}
/* Form defaults */
input,
select,
textarea {
  color: #797a7c;
}
.success {
  position: absolute;
  width: 290px;
  color: #ffffff;
  text-align: center;
  z-index: 1;
  background: #393030;
  border: 1px solid #393030;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 9px 0;
}
/* ============================= end forms ============================= */
/* ============================= search ============================= */
#search {
  position: relative;
  display: inline-block;
  margin-top: 12px;
}
#search input[type="text"] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#search input[type="text"]:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#search input:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#search input {
  font-size: 14px;
  color: #ffffff;
  width: 313px;
  padding: 2px 10px;
  border: 1px solid #393030;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: #393030;
  float: left;
  margin-right: 8px;
}
.search_result {
  color: #ffffff;
}
.search_title {
  margin-bottom: 5px;
  font-weight: 400;
}
.search_title a {
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.search_title a:hover {
  color: #ff7f66;
  text-decoration: none;
}
.search_list {
  margin-top: 30px;
  display: inline-block;
}
.search_list li {
  margin-bottom: 40px;
  display: inline-block;
}
.search_list .search {
  font-size: 25px;
  color: #ffffff;
}
#searchButton {
  position: absolute;
  display: inline-block;
  text-transform: uppercase;
  margin: 6px 0 0;
  z-index: 10;
}
/* ============================= end search ============================= */
/*--- content end ------*/
/*------ footer ------- */
footer {
  font: 12px/12px 'Bitter', serif;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 600;
  text-align: center;
}
footer p {
  margin-bottom: 18px;
}
.social-icon {
  position: relative;
  margin: 3px 0 38px;
}
.social-icon > li {
  display: inline-block;
  margin: 0 2px;
}
.social-icon > li > a {
  display: inline-block;
  width: 36px;
  height: 36px;
}
.link_0 {
  color: #ffffff;
}
.link_0:hover {
  color: #ff7f66;
  text-decoration: none;
}
/*--- footer end ------*/
/*----- media queries ------*/
@media (min-width: 1200px) {
  
}
@media (min-width: 768px) and (max-width: 979px) {
  
}
@media (max-width: 767px) {
  
}
@media (max-width: 480px) {
  
}
/*Core variables and mixins*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 34px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
